* {
    box-sizing: border-box;
}
body {
    font-family: monospace;
    width: 30%;
    height: auto;
    background-color: #fdfdfd;
    margin: 5% auto;
    border: 3px solid rgb(24, 0, 0);
    border-radius: 15px;
}

h1{
    font-weight: 900;
    text-align: center;
    font-size: 300%;
    margin: 0px auto;
    color: rgb(15, 1, 1);
}

input {
    font-family: monospace;
  font-weight: 900;
    background-color: rgba(240, 233, 233, 0.657);
    display: block;
    width: 100%;
    color: rgb(15, 1, 1);
    height: 50px;
    border-radius: 10px;
    font-size: 150%;
    padding: 10px 5px 10px 40px;
    margin-bottom: 5px;
    transition: all 0.1s ease;
}

input:focus {
background-color: rgb(15, 1, 1);
color:rgba(240, 233, 233, 0.657);
}

div {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-areas: '. . . .' '. . . .' '. . . .' '. . . .' 
    '. . . .' '. . . .' '. . delete delete' 'equalTo equalTo equalTo equalTo';
justify-content: space-between;
}
sup.supscript {
    font-size: 100%;
}
button {
    background-color: rgb(15, 1, 1);
    color:rgba(240, 233, 233, 0.657);
    font-weight: 700;
    transition: all 0.5s ease;
}
button:hover {
color: rgba(240, 233, 233, 0.657);
background-color:  rgba(15, 1, 1, 0.835);
}
button:nth-child(1){
    background-color:rgba(240, 233, 233, 0.657);
    color: rgb(22, 1, 1);
}

button:nth-last-child(1) {
    grid-area: equalTo;
    border-radius: 0 0 10px 10px;
    background-color: rgba(240, 233, 233, 0.657);
    color: black;
    font-size: 200%;
}
button:nth-last-child(2) {
    grid-area: delete;
    background-color:  rgb(15, 1, 1);
}
.b {
padding-bottom: 15%;
}
@media screen and (max-width: 830px){
   body{
        width: 50%;
   }
}
@media screen and (max-width: 520px){
    body{
         width: 70%;
    }
 }
 @media screen and (max-width: 365px){
    body{
         width: 100%;
    }
 }
 @media screen and (max-width: 250px){
    h1{
        font-size: 200%;
    }
 }
 @media screen and (max-width: 180px){
    h1{
        font-size: 150%;
    }
 }